@model Login
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/login.css"/>
    <title>@ViewBag.Title</title>
</head>
<body>
        <div class="headNavBack">
            <div class="container">
                <nav id="headerNav" class="navbar navbar-expand align-items-lg-center justify-content-lg-end">
                    <div class="col col-lg-7">
                    </div>
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-link">
                                @* <a class="headLinks" draggable="false" href="#">Welcome, @User.FindFirst("FirstName").Value</a> *@
                                <a class="headLinks" draggable="false" href="#">Welcome, @User.Identity.Name </a>
                            </li>
							<li class="nav-link">
                                <form id="logoutForm" asp-action="Logout" method="post">
								<button type="submit" class="headLinks log-out-button">Log out</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-link">
                                <p id="pointBal">Log in to view points balance</p>
                            </li>
                            <li class="nav-link">
                                <button type="button" data-bs-custom-class="logCustom" id="loginStart" data-bs-html="true"
                                data-bs-toggle="popover" data-bs-placement="bottom">
                                    <span class="bi-person"></span> Log in
                                </button>
                            </li>
                            <!--Hidden div for popover-->
                            <div id="popoverContent" style="display: none;">
                                <form asp-action="Login" id="log_in_form" name="log_in_form" method="post">
                                    <fieldset>
                                        <h1>Log in</h1>
                                        <input type="hidden" name="ReturnUrl" id="ReturnUrl" value="@Context.Request.Path"/>
                                        <label class="labelStyle" id="Laccount" asp-for="TBuser">
                                            ACCOUNT
                                            NUMBER/USERNAME
                                        </label>
                                        <br />
                                        <input type="text" id="TBuser" asp-for="TBuser" />
                                        <br />
                                        <label class="labelStyle" id="Lpass" asp-for="TBpass">PASSWORD</label>
                                        <br />
                                        <input type="password" id="TBpass" asp-for="TBpass" />
                                        <a class="btn btnShow bi-eye-fill"
                                        id="btnShow"></a>
                                        <br />
                                        <div class="logOptions">
                                            <label id=Lremember for="CBremember">Remember me</label>
                                            <input type="checkbox" id="CBremember" name="CBremember" />
                                            <div id="registration">
                                                Not a member?
                                                <a id="register" asp-action="registration">Enroll now!</a>
                                            </div>
                                            <button id="logBtn" type="submit">Log in</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>

                            <li class="nav-link"><a class="headLinks" asp-action="registration">Create account</a></li>
                        }
                        <li class="nav-link">
                            
                            <a class="headLinks" href="#">Espa&#241ol <span class="bi-globe"></span></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--Booking Nav-->
            <div id="bookNav" class="container">
                <nav class="navbar navbar-expand-md">
                    <div class="col-3 col-6">
                        <a asp-action="info" class="navbar-brand">
                            <img id="logo" src="~/images/Logo.png"
                                 alt="Southwest Airlines brand name" />
                        </a>
                    </div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <span class="navLink">
                                <a class="nav-link">
                                    FLIGHT | HOTEL | CAR | VACATIONS |
                                    CRUISES
                                </a>
                            </span>
                        </li>
                        <li class="nav-item"><span class="navLink"><a class="nav-link">SPECIAL OFFERS</a></span></li>
                        <li class="nav-item"><span class="navLink"><a class="nav-link">RAPID REWARDS</a></span></li>
                        <li class="nav-item">
                            <span class="navLink"><a class="nav-link" asp-action="info">FAST PASS</a></span>
                        </li>
                        <li class="search-container nav-item"><span class="navLink"><a class="nav-link bi-search"></a></span></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--Banner-->
        <div class="title-box">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="title">@ViewBag.PageHead</h2>
                    </div>
                </div>
            </div>
        </div>
        <!--Subnav-->
        <div class="subNavWrapper">
            <div class="container">
                <nav class="subNavbar navbar navbar-expand-xl">
                    <ul class="navbar-nav">
                        <li class="nav-item"><span class="subNavLink"><a asp-action="info" class="nav-link">About</a></span></li>
                        <li class="nav-item"><span class="subNavLink"><a asp-action="purchase" class="nav-link">Purchase</a></span></li>
                    </ul>
                </nav>
            </div>
        </div>
        @RenderBody()
        <script src="https://cdn.jsdelivr.net/npm/@@floating-ui/core@1.6.9"></script>
        <script src="https://cdn.jsdelivr.net/npm/@@floating-ui/dom@1.6.13"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <script src="~/js/main.js"></script>
        <script src="~/js/login.js"></script>
	    @RenderSection("Scripts", required: false))
    
</body>
</html>
